body{
    background-image:url("https://i.pinimg.com/736x/d4/cc/82/d4cc82bdd3d84c23f6f92d4b5ce98abc.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}
h1{
    text-align:center;
    color:black;
    font-family:Bradley Hand, cursive;
    text-decoration:underline;
}
h3{
    text-align:center;
    font-family:Bradley Hand, cursive;
    color: black;
}
h4{
    text-align:center;
    font-family:Bradley Hand, cursive;
    color: black;
}
hr{
    border:none;
    height:3px;
    background-color:black;
}
p{
    text-align:center;
    font-family:Bradley Hand, cursive;
    color:black;
}
.column img{
    width: 100%;
    height: "250";
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
.column{
    flex:1;
    padding:10px;
    text-align:center;
}
.row{
    display:flex;
}
.caption{
    text-align:center;
    font-family:Bradley Hand, cursive;
    color:black;
    margin-top:10px;
}
